<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ver_planificacion_academica.css') }}">
    <link rel="icon" type="image/jfif" href="{{ url_for('static', filename='img/Logo.jfif') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materiale.css') }}">
    <!-- Bootstrap CSS -->

    <!--Bibliotecas-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <script src="{{ url_for('static', filename='javascript/materiales.js') }}"></script>
    <title>Materiales/Teacher Planner</title>
</head>
<body>
    <div class="menu">
        <div class="logo"><img src="{{ url_for('static', filename='img/Logo.jfif') }}" width="50px" alt="Logo de tu empresa" class="logo"></div>
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Planificaciones <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="{{ url_for('planificacion') }}">Planificacion Taller</a>
                <a href="{{ url_for('planificacion_academica') }}">Planificacion Academica</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Materiales <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="{{ url_for('materiales') }}">Materiales</a>
                <a href="{{ url_for('solicitud_requerimientos')  }}">Solicitud de Requerimientos</a>
            </div>
        </div>
        <a href="{{ url_for('calendar') }}">Calendar</a>
        {% if current_user.is_authenticated %}
            <div class="user-info">
                <a href="{{ url_for('perfil') }}">Perfil</a>
            </div>
        {% endif %}
    </div>

    <form method="POST">
        <center><h3>Requerimiento O Recursos: Materiales, Herramientas, Equipos, Mobiliarios y Espacio</h3></center>

        <p>AREA O TALLER: <input type="text" name="area_taller" value="{{ taller }}" readonly></p>   
        <p>Docente: <input type="text" name="docente" value="{{ user_logged_in }}" readonly></p>
        <p>Materiales a usar:</p>
        <table id="tabla-materiales" border="1">
            <tr>
                <th>Cant.</th>
                <th>Descripción</th>
                <th>En existencia</th>
                <th>Comprar</th>
                <th>Acción</th>
            </tr>
            <tr>
                <td><input type="number" name="material_cantidad[]" placeholder=""></td>
                <td><input type="text" name="material_descripcion[]" placeholder=""></td>
                <td><input type="number" name="material_existencia[]" placeholder=""></td>
                <td><input type="text" name="material_comprar[]" placeholder=""></td>
                <td><button type="button" class="eliminar-material">Eliminar</button></td>
            </tr>
        </table>

        <button type="button" id="agregar-material">Agregar Material</button>
        <button type="submit">Enviar</button>
    </form>
    <br><br>
    <table id="materiales-enviados" border="1">
        <tr>
            <th colspan="4">Materiales enviados</th>
        </tr>
        <tr>
            <th>Area o Taller</th>
            <th>Docente</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Existencia</th>
            <th>Comprar</th>
            <th>Actiones</th>

        </tr>
        {% if materiales %}
        {% for material in materiales %}
        <tr>
            <td>{{ material[1] }}</td>
            <td>{{ material[2] }}</td>
            <td>{{ material[3] }}</td>
            <td>{{ material[4] }}</td>
            <td>{{ material[5] }}</td>
            <td>{{ material[6] }}</td>
            <td>
                <a href="{{ url_for('ver_materiales_enviados', id=material[0]) }}">Ver Detalles</a>
                <a href="{{ url_for('editar_material', id=material[0]) }}">Editar</a>
                <form action="{{ url_for('eliminar_material', id=material[0]) }}" method="POST">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</body>
</html>
