<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/jfif" href="{{ url_for('static', filename='img/Logo.jfif') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Materiales Enviados</title>
</head>
<body> 
    <center><img src="{{ url_for('static', filename='img/ministerio logo.png') }}" width="100px" alt="Logo de tu empresa" class="logo"> </center>
    <center><h4>100% PRESENCIA DE DIOS</h2></center>
    <center><h4>FORMULARIO DE REQUERIMIENTOS</h3></center>
     <center> <table border="1"><h4><th>REQUERIMIENTO DE:</th> <td><B>MATERIALES PRACTICAS PEDAGOGICAS</B></td></h4></table></center>
 
<br>
    <center><table border="1">
        <tr>
            <th>Área Taller</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Observación</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Solicitado por</th>
        </tr>
        {% for practica in practicas %}
        <tr>
            <td>{{ practica.1 }}</td>
            <td>{{ practica.2 }}</td>
            <td>{{ practica.3 }}</td>
            <td>{{ practica.4 }}</td>
            <td>{{ practica.5 }}</td>
            <td>{{ practica.6 }}</td>
            <td>{{ practica.7 }}</td>
        </tr>
        {% endfor %}
    </table></center>

</body>
</html>