/* Estilos base */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 50px;
    margin: 0;
    color: black;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff; /* Color del título */
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
button {
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

.btn-group {
    margin-bottom: 20px;
    text-align: right;
}

.btn-group a {
    margin-left: 10px;
    color: #007bff; /* Color de los enlaces del grupo de botones */
    text-decoration: none;
    transition: color 0.3s;
}

.btn-group a:hover {
    color: #0056b3; /* Color de los enlaces del grupo de botones al pasar el ratón */
}

.menu-container {
    background-color: #343a40;
    color: white;
    overflow: hidden;
    border-bottom: 2px solid #0056b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #0056b3;
}

.menu a.active {
    background-color: #0056b3;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    transition: background-color 0.3s;
}

.user-info a:hover {
    background-color: #0056b3;
}

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .menu a {
        margin-right: 10px;
        font-size: 0.8rem;
    }

    .btn-group a {
        margin-left: 5px;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 400px) {
    .menu-container {
        padding: 5px 10px;
    }

    .menu a {
        padding: 5px;
    }

    .user-info a {
        padding: 5px;
    }
}
