/* Estilos base */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: black;
}

.menu-container {
    background-color: #342e2e;
    color: white;
    overflow: hidden;
    border-bottom: 2px solid #0056b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.menu {
    background-color: #342e2e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #0056b3;
}

.menu a.active {
    background-color: #0056b3;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    transition: background-color 0.3s;
}

.user-info a:hover {
    background-color: #0056b3;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu a {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .user-info {
        margin-top: 20px;
    }
}


.dropdown {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: 'Roboto', sans-serif;
    display: none;
    position: absolute;
    background-color: #342e2e;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #0056b3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Añadir un ícono de flecha hacia abajo al botón del menú desplegable */
.dropbtn {
    font-family: 'Roboto', sans-serif;
    background-color: #342e2e;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.fa-caret-down {
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
}
